# Dependencias
node_modules/
.idea/
.vscode/
.DS_Store

# Builds
dist/
build/
out/
tmp/
temp/
.vite/
coverage/
*.tsbuildinfo
.env

# Mobile (Expo / React Native / native)
.expo/
*.apk
*.ipa
ios/Pods/

# Logs
logs/
*.log

# OS
Thumbs.db